@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Hind", sans-serif; */
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    height: 12vh;
    width: 100%;
    background-color: rgb(0, 0, 25);
    display: flex;
    font-family: "Hind", sans-serif;
}

.logo {
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}

.rest-of-navbar {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.details {
    padding-left: 20px;
    padding-top: 20px;
}

.details a{
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}

.contact {
    padding-left: 20px;
    padding-top: 20px;
}

.contact a {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}

/* Main Content */

.main-content {
    background-color: rgb(10, 0, 15);
    height: 80vh;
    width: 100%;
}

/* Footer Section */

.footer {
    height: 20vh;
    width: 100%;
    background-color: rgb(0, 0, 25);
    display: flex;
}

.footer .heading {
    width: 50%;
    padding-left: 5%;
    padding-top: 20px;

}

.footer .social-media {
    padding-left: 15%;
    padding-top: 20px;
}

.footer .social-media a {
    color: aliceblue;
    font-size: 25px;
    padding-right: 7px;
}

.footer .social-media h3 {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
}

.footer-ending-line {
    background-color: rgb(0, 0, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(142, 160, 175);
}

@media screen and (min-width: 270px) and (max-width:670px) {
    .footer .heading h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .footer .heading span {
        font-size: 12px;
    }

    .footer .social-media a {
        font-size: 13.5px;
    }

    .footer-ending-line {
        font-size: 15px;
    }

    .footer .social-media h3 {
        font-size: 18px;
        font-weight: 600;
    }
}



